<h3>Candidatos:</h3>

<% if @job_openings.present? %>
		<% @job_openings.each do |j| %>
			<p><strong>Nome: </strong> <%= link_to j.applicant.full_name,
																							 applicant_path(j.applicant) %>
			<p><strong>Formação: </strong> <%= j.applicant.academic %></p>
			<dt><strong>Carta:</strong></dt>
			<dd><%= j.letter %></dd>
			<p><strong>Status do Processo: </strong> 
			<%= JobOpening.human_attribute_name("status.#{j.status}") %></p>
			<p><%= link_to 'Recusar e enviar Feedback', 
									new_job_vacancy_feedback_path(@job_vacancy) %></p>	
			<p><%= link_to 'Aceitar e enviar Proposta', 
									new_job_vacancy_job_offer_path(@job_vacancy) %></p>	
		<%end%>
	<%else%>
	<p>Nenhuma candidatura foi realizada</p>
<% end %>