<h1>Dados do Candidato</h1>

<dl>
  <dt>Foto</dt>
  <dd id = 'photo'><%= image_tag @applicant.photo, size:'210x150', alt: 'Foto'%></dd>
  <dd><%= @applicant.full_name%></dd>
  <dt>Nome Social: </dt>
  <dd><%= @applicant.social_name%></dd>
  <dt>Data de nascimento</dt>
  <dd><%= I18n.l(@applicant.birthdate)%></dd>
  <dt>Formação: </dt>
  <dd><%= @applicant.academic%></dd>
  <dt>Descrição: </dt>
  <dd><%= @applicant.description%></dd>
  <dt>Experiência</dt>
  <dd><%= @applicant.experience%></dd>
</dl>
<% if head_signed_in? %>
	<%= link_to 'Deixar Comentário', new_applicant_post_path(@applicant) %><br>
<% end %>

<% if @posts.any? %>
	<% @posts.each do |post| %>
		<p><%= post.head.email %></p>
		<p><%= post.content %></p>
		<p><%= l post.created_at, format: :short %></p>
		<% if head_signed_in? %>
			<%= link_to 'Editar', edit_applicant_post_path(@applicant, post), 
				id: "edit-post#{post.id}"%></p>
			<p><%= link_to 'Deletar', 
				[@applicant, post], 
				method: :delete, 
				id: "delete-post#{post.id}"%></p>
	  <% end %>
	<% end %>
<% end %>
<% if user_signed_in? %>
	<%= link_to "Editar", edit_applicant_path(@applicant) %>
<% end %>
