<!DOCTYPE html>
<html>
  <head>
    <title>Headhunter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <nav class="navbar navbar-dark bg-dark", style='background-color: #e3f2fd;'>
     <span class="navbar-text">
        <%= link_to 'Ver vagas de emprego', job_vacancies_path%>
    <% if user_signed_in? %>
      <%= link_to 'Home candidato', root_path %>
      <%= link_to 'Meus Feedbacks', feedbacks_path %>
      <%= link_to 'Minhas Propostas', job_offers_path %>
      <%= link_to 'Minhas Vagas', job_openings_path %>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
    </span>
  <%end%>
  <% if head_signed_in? %>
    <%= link_to 'Home headhunter', head_profiles_path%>
    <%= link_to 'Ver perfis cadastrados', applicants_path%>
    <%= link_to 'Cadastrar vaga de emprego', new_job_vacancy_path %>
    <%= link_to 'Sair', destroy_head_session_path, method: :delete %>
  <%end%>
  <% if !(user_signed_in? || head_signed_in?) %>
    <%= link_to "Candidato", new_user_session_path%>
    <%= link_to "Headhunter", new_head_session_path%>
  <%end%>
  </nav>
  <body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>